@font-face {
	font-family: Source Sans Pro;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
