@font-face {
	font-family: Crimson Text;
	src: local("Crimson Text"), local("CrimsonText-Roman"), url(http://themes.googleusercontent.com/static/fonts/crimsontext/v3/3IFMwfRa07i-auYR-B-zNXZ2MAKAc2x4R1uOSeegc5U.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/crimsontext/v3/3IFMwfRa07i-auYR-B-zNXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
