//colors
$primary: #686868;
$secondary: #CC3300;
$primary-dark: darken($primary, 25%);
$secondary-dark: darken($secondary, 8%);
$light: #FFCC33;
$dark: #000;
$medium: #CCC;
$medium-dark: #666;
$hilight: #017477;